[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-email-url = "*"
django-analytical = "*"
django-bootstrap3 = "*"
django_compressor = "*"
django-compressor-autoprefixer = "*"
django-ipware = "*"
django = "*"
python-barcode = "*"
python-decouple = "*"

[dev-packages]
django-debug-toolbar = "*"
django-extensions = "*"
ipython = "*"
werkzeug = "*"

[requires]
python_version = "3"
