.barcode-container {
    margin: auto;
    float: none;
}

.barcode-image {
    width: 100%;
}

.coupon-card:hover {
    opacity: 0.9;
}

.coupon-link:hover {
    text-decoration: none;
    color: #3B3B32;
}

.coupon-price {
    margin-bottom: 8px;
    font-size: 15px;
}

.panel-brown {
    border-color: #3B3B32;
}

.panel-brown .panel-heading {
    background: #3B3B32;
    color: white;
}

.panel-brown .panel-title {
    font-weight: bold;
}

.coupon-disabled .panel-heading {
    background-color: #690606;
    border-color: #690606;
}


/* Override bootstrap colors */
body, a {
    color: #3B3B32;
}

.navbar-inverse {
    background-color: #3B3B32;
    border-color: #3B3B32;
}

.navbar-brand {
    color: #FFCA40 !important;
    font-weight: bold;
}

.navbar-nav > li > a {
    color: white !important;
}

@media (max-width: 767px) {
    .navbar-nav .dropdown-menu a {
        color: white !important;
    }
}