.barcode-container {
    margin: auto;
    float: none;
}

.barcode-image {
    width: 100%;
}


.coupon-link {
    color: #333;
}

.coupon-card {
    margin-bottom: 30px;
}

.coupon-price {
    margin-bottom: 8px;
    font-size: 15px;
}

.coupon-card .comments {
    margin-top: 8px;
}