{% extends 'base.html' %}

{% load bootstrap3 humanize %}

{% block head_title %}{{ coupon.title }}{% endblock head_title %}

{% block content %}
  <h1>
    {{ coupon.title }}
    <small>{{ coupon.price|floatformat:2 }} Fr.</small>
  </h1>

  {% if coupon.disabled %}
    <h2 class="text-danger">Note: Ce bon ne semble plus fonctionner.</h2>
  {% endif %}
  <div class="barcode-container col-xs-12 col-sm-7 col-md-6">
    <img src="{% url 'coupon_barcode' coupon.pk %}" class="barcode-image">
  </div>

  <div>
    <h3>Dernières notes</h3>
    {% for place, comment in coupon.last_comment_per_place.items %}
      <div>
        {% if comment.does_coupon_work %}
          {% bootstrap_icon 'ok-circle' extra_classes='text-success' %}
        {% else %}
          {% bootstrap_icon 'remove-circle' extra_classes='text-danger' %}
        {% endif %}
        {{ place }} -
        <em>{{ comment.created_at|naturaltime }}</em>
      </div>
    {% empty %}
      <em>Aucune</em>
    {% endfor %}
  </div>


  <div class="panel panel-default comment-panel">
    <div class="panel-body">
      <h3 class="comment-title">Notez ce bon</h3>
      <form method="post" class="comment-form" novalidate>
        {% csrf_token %}

        <div data-toggle="buttons" class="form-group">
          {% for radio in comment_form.does_coupon_work %}
            {{ radio }}
          {% endfor %}
        </div>

        <div class="collapse comment-form-details">
          {% with field=comment_form.restaurant %}
            <div class="form-group {% if field.errors %} has-error {% endif %}">
              <label class="control-label" for="{{ field.auto_id }}">
                {{ field.label }}
              </label>

              <div class="restaurant-picker">
                <button
                    type="button"
                    class="btn btn-default geoloc-refresh-btn"
                    title="Récupérer localisation"
                >
                  {% bootstrap_icon 'screenshot' %}
                </button>
                <select name="{{ field.name }}" class="form-control" id="{{ field.auto_id }}" required>
{#                  {% for id, label in field.field.choices %}#}
{#                    <option value="{{ id }}">{{ label }}</option>#}
{#                  {% endfor %}#}
                  {% for option_widget in field.subwidgets %}
                    {{ option_widget }}
                  {% endfor %}
                </select>
              </div>

              {% for error in field.errors %}
                <div class="help-block">{{ error }}</div>
              {% endfor %}
            </div>
          {% endwith %}

          {% bootstrap_button 'Envoyer' button_type='submit' %}
        </div>
      </form>
    </div>

  </div>
{% endblock %}
