{% extends 'base.html' %}

{% load bootstrap3 humanize %}

{% block content %}
  <h1>
    {{ coupon.title }}
    <small>{{ coupon.price }} Fr.</small>
  </h1>

  <div class="barcode-container col-xs-12 col-sm-7 col-md-6">
    <img src="{% url 'coupon_barcode' coupon.pk %}" class="barcode-image">
  </div>

  <div>
    <h3>Dernières utilisations</h3>
    {% for place, comment in coupon.last_comment_per_place.items %}
      <div>
        {% if comment.does_coupon_work %}
          {% bootstrap_icon 'ok-circle' extra_classes='text-success' %}
        {% else %}
          {% bootstrap_icon 'remove-circle' extra_classes='text-danger' %}
        {% endif %}
        {{ place }} -
        <em>{{ comment.created_at|naturaltime }}</em>
      </div>
    {% endfor %}
  </div>

  <div>
    <h3>Votre expérience</h3>
    <form method="post" novalidate>
      {% csrf_token %}
      {% bootstrap_form comment_form %}
      {% bootstrap_button 'Envoyer' button_type='submit' %}
    </form>
  </div>
{% endblock %}
