{% extends 'base.html' %}

{% load bootstrap3 humanize %}

{% block content %}
  {% for category, coupons in by_category.items %}
    <h2>{{ category }}</h2>

    <div class="row">
      {% for coupon in coupons %}
        <a href="{% url 'coupon_detail' coupon.pk %}" class="coupon-link">
          <div class="col-md-4 col-sm-6">
            <div class="panel panel-brown coupon-card">
              <div class="panel-heading">
                <h3 class="panel-title">{{ coupon.title }}</h3>
              </div>
              <div class="panel-body">
                <div class="coupon-price">
                  Prix: <strong>{{ coupon.price }} Fr.</strong>
                </div>
                <div class="comments">
                  {% for place, comment in coupon.last_comment_per_place.items %}
                    <div>
                      {% if comment.does_coupon_work %}
                        {% bootstrap_icon 'ok-circle' extra_classes='text-success' %}
                      {% else %}
                        {% bootstrap_icon 'remove-circle' extra_classes='text-danger' %}
                      {% endif %}
                      {{ place }}
                    </div>
                  {% empty %}
                    <em>Jamais utilisé</em>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </a>
      {% endfor %}

    </div>
  {% endfor %}
{% endblock %}