{% extends 'base.html' %}

{% load bootstrap3 %}

{% block content %}
  <h1>
    {{ coupon.title }}
    <small>{{ coupon.price }} Fr.</small>
  </h1>

  <div class="barcode-container col-xs-12 col-sm-7 col-md-6">
    <img src="{% url 'coupon_barcode' coupon.pk %}" class="barcode-image">
  </div>

  <div>
    <form method="post" novalidate>
      {% csrf_token %}
      {% bootstrap_form comment_form %}
      {% bootstrap_button 'Envoyer' button_type='submit' %}
    </form>
  </div>
{% endblock %}
