{% load analytical bootstrap3 compress i18n staticfiles %}
<!DOCTYPE html>
<html>
<head>
  {% analytical_head_top %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">

  <title>
    {% block head_title %}{% endblock head_title %} - Bons McDo
  </title>

  {% block head_css %}
    {% compress css %}
      <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}"/>

      <link rel="stylesheet" type="text/css" href="{% static 'coupons/styles/app.css' %}"/>
    {% endcompress css %}
  {% endblock head_css %}
  {% analytical_head_bottom %}
</head>

<body>
{% analytical_body_top %}
{% block body %}
  {% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation" id="top">
      <div class="container">
        <div class="navbar-header">
          {% block navbar_header %}
            <a href="{% url 'index' %}" class="navbar-brand">Bons McDo</a>
          {% endblock navbar_header %}
        </div>
        <div id="navbar" class="">
          <ul class="nav navbar-nav">
            {% url 'recent_coupon_list' as link_url %}
            <li class="{% if request.path ==  link_url %}active{% endif %}">
              <a href="{{ link_url }}">Bons du moment</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="{% url 'admin:index' %}">Admin</a>
            </li>
            {% if user.is_authenticated %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  {% bootstrap_icon 'user' %} {{ user }} <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="{% url 'password_change' %}">Changer le mot de passe</a>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <a href="{% url 'logout' %}">
                      Se déconnecter
                    </a>
                  </li>
                </ul>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  {% endblock navbar %}


  <div class="container">
    {% bootstrap_messages %}

    {% block content %} {% endblock content %}
  </div>
{% endblock body %}

{% block body_scripts %}
  {% compress js %}
    <script type="text/javascript" src="{% static 'jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

    <script type="text/javascript" src="{% static 'coupons/js/app.js' %}"></script>
  {% endcompress %}
{% endblock body_scripts %}
{% analytical_body_bottom %}
</body>
</html>
